::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #edf2f6;
}


::-webkit-scrollbar-thumb {
    background: #40404028;
    border: 0.10rem solid #edf2f6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #eb6c10;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
  }

.hide-scroll {
-ms-overflow-style: none;
  scrollbar-width: none;
}

.loader {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 45%;
    border: 3px solid;
    border-color: rgb(185, 185, 185) rgb(185, 185, 185) transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #f5791f #f5791f;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      